/** @format */

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--1 {
      background-image: url(../images/desktop/image-gallery-milkbottles.jpg);

      @media only screen and (max-width: $bp-small) {
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
      }
    }
    &--2 {
      background-image: url(../images/desktop/image-gallery-orange.jpg);

      @media only screen and (max-width: $bp-small) {
        background-image: url(../images/mobile/image-gallery-orange.jpg);
      }
    }
    &--3 {
      background-image: url(../images/desktop/image-gallery-cone.jpg);

      @media only screen and (max-width: $bp-small) {
        background-image: url(../images/mobile/image-gallery-cone.jpg);
      }
    }

    &--4 {
      background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);

      @media only screen and (max-width: $bp-small) {
        background-image: url(../images/mobile/image-gallery-sugarcubes.jpg);
      }
    }
  }
}
