/** @format */

.header {
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  &__box {
    position: absolute;
    top: 17rem;
    padding-top: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--heading {
      font-size: 7rem;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1rem;
      text-align: center;

      margin-bottom: 10rem;
    }

    &--arrow {
      text-align: center;
      margin-bottom: 5rem;
    }
  }
}
