/** @format */

.navigation {
  position: absolute;

  width: 100%;
  height: 10rem;
  z-index: 1000;

  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav__checkbox {
  display: none;
}

.nav__label {
  display: none;
}

.navbar {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0 1rem;

    &--selected {
      border-radius: 10rem;
      background-color: #fff;
    }
  }

  &--link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
    font-family: "Barlow", sans-serif;

    &--selected {
      color: #000;
    }
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}
