/** @format */

.container {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 90vh repeat(3, 60vh) min-content 40vh min-content;
}

// ----------------------------------------------------------
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

// ----------------------------------------------------------
.transform {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

// ----------------------------------------------------------
.stand {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

// ----------------------------------------------------------
.services {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

// ----------------------------------------------------------
.testimonials {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}

// ----------------------------------------------------------
.gallery {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
}

// ----------------------------------------------------------
.footer {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}

// ----------------------------------------------------------
